.nav  a
{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin:10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav
{
    padding:20px;
    padding-left:550px;
}
.nav a:hover
{
    color:lightcoral;
}

.side-heading
{
    position:absolute;
    right: 15%;
    top:45%;
}
.side-heading h1
{
font-size: 50px;
margin-bottom: 10px;
margin-top: 5px;
}
.side-heading h5 
{
font-size: 18px;
margin-left:100px;
}
.route
{
border: 0px solid black;
border-radius: 5px;
border-right: 2px solid black;
padding:40px;
position: absolute;
top:22%;
left:10%;
padding-top: 0px;
padding-bottom: 5px;
padding-left: 8px;
padding-right: 8px;
background-color:snow;
}
.main
{
    border: 1px solid black;
    border-radius: 40px;
    padding:1000px;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left:30px;
    margin-right: 30px;
    background: url("train1.jpg")  no-repeat;
    background-size: 100%;
    background-color:whitesmoke;
}
.route input[type="text"]
{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.route select 
{ 
    border: 1px solid black;
    border-radius: 5px;
    width: 305px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.route input[type="submit"]
{
    background-color: darkblue;
    color: whitesmoke;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.route input[type="date"]
{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

